<html>
    <head>
        <title>Play - Animalia</title>
         <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
        <link href="static/css/styles.css" rel="stylesheet" />
        <link href='static/css/play.css' rel='stylesheet'>
        <style>
            .subButton{
                width:95%;
            }
            @media only screen and (max-width: 1289px) {
              .subButton{
                  width:90%;
              }
            }
        </style>
    </head>
    <body>
        <h1>Animalia</h1>
        <h5 id='gameid'>Game ID: LOADING</h5>
        <h5> Invite an opponent: <a id='inviteLink'>LOADING</a> <a style='cursor:pointer' onclick='navigator.clipboard.writeText(document.querySelector("#inviteLink").innerText)'>(copy)</a></h5>
        <h5><a href='' onclick="$('#modal').modal({backdrop: 'static', keyboard: false});" id='reopen'>Re-open Game Selection</a></h5>
        <div class='fixed-bottom' style='margin: 10px;margin-bottom:0;background-color:#f0f0f0;width:100%'>
            <input placeholder="Enter answer here (enter to send)" class='subButton' style='height: 50px !important; font-size: 20px; border-style: solid;'>
            <button id='sendButton' onclick='sub()' style='width: 60px; height:60px; border-radius: 1000px; border:none; background-color:transparent;'><img src='static/assets/img/send-icon.webp' style="width: 95%;height:95%"></button>
        </div>

        <div id='msgs'>
        </div>

        <div id='chat'>
            <h3>Global Chat</h3>
            <h5 id='status'>Status: Offline</h5><hr>
            <div id='chatMsgs'></div>
            <textarea type='textarea' id='chatInput' placeholder='Type here'></textarea>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modallabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modallabel">Game Selection</h5>
              </div>
              <div class="modal-body text-center">
                <button class='btn btn-primary' onclick="initGame()">Start a game</button>
                <hr>
                Or Enter Invite Link/Game ID<br>
                <input type='text' class='form-control' id='idOrLink'> <br>
                <button class='btn btn-primary' onclick='joinGame(document.querySelector("#idOrLink").value)'>Submit</button>
                <hr>
                Or find a game through chat<br>
                <button style='margin-top: 10px;' onclick="$('#modal').modal('hide');" class='btn btn-primary'>Open Chat</button>
              </div> 
            <div class="modal-footer">
                <a class="btn btn-secondary" href='/'>Exit</a>
            </div>
            </div>
          </div>
        </div>

        
        <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <script src="/static/js/play.js"></script>
   
        <div id='bottom'></div>
    </body>
</html>
