body{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom:100px;
    padding-right:20%;
}



.bubble-opponent{
    padding: 20px;
    border: 2px solid black;
    width: 25%;
    margin: 10px;
    border-radius: 30px;
    word-break: break-word;
    float:left;
    margin-right:100%;
}

.bubble-self{
    padding: 20px;
    border: 2px solid black;
    width: 25%;
    margin: 10px;
    border-radius: 30px;
    float:right;
    margin-left: 100%;
    word-break: break-word;
}

.bubble-self:last-child{
    margin-bottom:70px;
}

.bubble-opponent:last-child{
    margin-bottom:70px;
}

#chat{
    float:right;
    border-left: 2px solid black;
    position:fixed;
    top:0;
    right:0;
    height:100%;
    padding-top:10px;
    width:20%;
}

#chat>h3{
    text-align:center;
}

#chatMsgs {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
#chatMsgs::-webkit-scrollbar { 
    display: none;
}


#chatInput{
    position:fixed;
    bottom:59px;
    width:20%;
    resize:none
}

.chatMsg{
    margin-bottom:0;
    margin-left: 10px;
    word-break: break-all;
}

#chatMsgs{
    overflow:scroll;
    overflow-x: hidden;
    height: calc(100% - 200px)
}

#status{
    margin-left:10px;
    font-size:small;
    text-align:center;
}

body,input,textarea{
    background-color: #f0f0f0;
}

.moreMargin{
    margin-bottom: 40px;
}
